body{
    background-color: black;
    color: beige;
    font-size: 18px;
}
#formulario,#lista{
    border: 2px beige solid;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}
input[type="button"]{
    padding: 10px;
    border-radius: 10px;
}
input[type]{
    padding: 10px;
    border-radius: 10px;
}
header{
    display: flex;

}
header img{
    width: 70px;
    height: 70px;
    margin: 5px;
    border-radius: 10px;
    margin-left: 10px;
}